<!DOCTYPE html>

<!--
	Author: Abishaike Balachandran
  Course: WEB3222
  Assignment 2
-->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  <title>Home</title>
  <style>
    body {
      background-image: url("images/backdrop.jpg");
      background-size: cover;
    }

    h1 {
      text-align: center;
      color: rgb(236, 101, 241);
      font-family: 'Courgette', cursive;
      font-size: 4.5em;
      margin: 0;
    }

    nav {
      position: fixed;
      top: 77%;
      left: 47%;
      font-family: 'Courgette', cursive;
      font-size: 2.5em;
    }

    a:hover {
      color: rgb(224, 5, 210);
    }
  </style>
</head>

<body>
  <header>
    <h1>{{data.name}}</h1>
  </header>

  <nav>
    <a href="/signin">Sign In</a>
  </nav>

</body>

</html>